.footer-container{    
    background-color: #B9BBB4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width:100%;
    height: 80px;
    margin-top: 10px;
}
.footer-copyrights{
    font-size: 16px;
    /* letter-spacing: 2px; */
    word-spacing: 2px;
}