.home-div {
    margin: 40px;
    font-size: 18px;
    text-align: center;
}

.home-div span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: black;
    text-decoration: none;
}

.accessories-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    width:100%;
    /* gap: 100px;   */
}

.products-container{
    /* display: flex; */
    justify-content: space-evenly; 
    
}
.furniture-container{
    /* border:1px solid black; */
}

.products-container img{
    width:150px;
    height:150px;
    border-radius: 20px;
    display: grid;
    margin-bottom: .75rem;
    transition:all .1s linear;
}

.products-container img:hover{
    transform: scale(1.2);
}

.products-heading-div {
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    margin: 20px 0px;
}
.products-heading-div h1{
    width:40%;
}
.furniture-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    /* gap: 100px; */
    width:100%;
}
.sections{
    display: flex;  
    flex-direction: column;
    align-items: center;
}

#accessories-header{
    width:100%;
}

@media (max-width: 500px) {
  .products-container img {
    width: 90px;
    height: 90px;
  }
  .products-container{
            margin-top: -100px;
  }
.accessories-container{
    width:90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .furniture-container{
    width:90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}