html, body, #root {
  height: 100%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* #root {
 
} */
  body{
  /* background-color: rgb(70, 83, 70); */
  text-align: center;
  margin:0;
 }
 .page-wrapper{

  padding-top:80px;

 }
 .app-div{
  margin: 0;
 }